<h1>MUUTUJAD JA AVALDISED</h1>
<div class="mt-4 intro-container">
  <h5>Mida selles peatükis õpime?</h5>
  <div><span>1. Mis on andmetüübid?</span></div>
  <div><span>2. Milliseid andmetüüpe on olemas?</span></div>
  <div><span>3. Mis on muutujad?</span></div>
  <div><span>4. Mis tehteid saab erinevate andmetüüpitega teha?</span></div>
  <div><span>5. Kuidas kirjutada lihtsaid avaldisi ja programme?</span></div>
</div>
<div class="mt-3 box-container">
  <div><span>Selles peatükis alustame programmeerimisega, seega võiks sul olla arvutisse paigaldatud arenduskeskkond (näiteks Thonny).</span>
  </div>
</div>
<h4 class="mt-5" [attr.id]="'andmed'">Mis on andmetüübid?</h4>
<div class="mt-3 box-container">
  <div><span>Programmid kasutavad oma töös igasuguseid erinevaid andmeid. Vahepeal on andmete põhjal vaja midagi arvutada või töödelda, reageerida kuidagi
  kasutaja tegevustele, kuvada kasutajale midagi ekraanile. Kõige selle aluseks on andmed ehk informatsioon ja andmed võivad olla erinevat tüüpi. Näiteks
  inimest kirjeldavad andmed võiksid olla tema nimi, isikukood, sünnipäev, sugu, elukoht jne.</span>
  </div>
  <div class="mt-3"><span>Neli kõige tavalisemat andmetüüpi on:</span></div>
  <div class="mt-2"><span>1. Täisarvud</span></div>
  <div><span>2. Ujukomaarvud</span></div>
  <div><span>3. Sõned</span></div>
  <div><span>4. Tõeväärtused</span></div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Täisarvud</strong> on ilma komakohtadeta arvud, näiteks 5 ja 102. Täisarvu tüüpi nimetatakse Pythonis <span
    class="fst-italic">
    <strong class="strong">int</strong></span> (lühendatud ingliskeelsest sõnast <span class="fst-italic">integer</span>, mis tähendab täisarvu).</span>
  </div>
  <div class="mt-2"><span><strong class="strong">Ujukomaarvud</strong>, nagu ka nimi ütleb, on komadega arvud. Siia alla kuuluvad näiteks 1,5 ja 24,345.
    Ujukomaarvu tüüpi nimetatakse Pythonis <span class="fst-italic">
    <strong class="strong">float</strong></span> (mis tuleb ingliskeelsest sõnast <span class="fst-italic">floating-point number</span>). Nende juures tuleb tähele panna, et kuigi eesti keeles
  kasutame komakohaga numbris koma, siis Pythoni jaoks peab olema koma asemel punkt. Ehk siis 1,5 tuleb Pythonis kirjutada 1.5 ja 24,345 oleks 24.345.</span>
  </div>
  <div class="mt-2"><span><strong class="strong">Sõned</strong> on lihtsalt tekst. Pythonis tuleb kõik sõned alati kirjutada kas jutumärkide või
    ülakomade vahele. Näiteks "tere" ja 'tere' on sõned. Inglise keeles kutsutakse seda andmetüüpi <span
      class="fst-italic">string</span>. Pythonis on
    tüübinimena kasutusel jällegi lühendatud variant <span class="fst-italic"><strong
      class="strong">str</strong></span>.</span>
  </div>
  <div class="mt-2"><span><strong class="strong">Tõeväärtusel</strong> on ainult kaks võimalikku väärtust: tõene või väär. Inglise keeles
    nimetatakse seda tüüpi <span class="fst-italic">boolean</span> ning Pythonis kasutatakse tüübinimena lühendatud varianti
    <span class="fst-italic"><strong class="strong">bool</strong></span>. Tõene on inglise keeles
  <span class="fst-italic">true</span> ja Pythonis kirjutatakse see veel ka suure tähega  <span
      class="fst-italic">True</span>. Väär on
    inglise keeles <span class="fst-italic">false</span> ning Pythonis <span class="fst-italic">False</span>.</span>
  </div>
  <div class="col-md-12 col-lg-2 m-3">
    <img src="../../../assets/images/variables/datatypes.png" alt="datatypes" class="height-5rem">
  </div>
</div>
<div class="mt-2 box-container">
  <div><span>Proovime nüüd ka oma esimese programmi kirjutada ning uurida tõeväärtusi Thonny abil. Selleks ava kõigepealt Thonny. Tavaliselt loob Thonny avades
  ka kohe tühja programmifaili ära. Erinevaid faile näed koodiredaktori kohal vahelehtedel. Veel salvestamata faili puhul kuvatakse vahelehel
    <span class="fst-italic">&lt;nimetu&gt;</span>. Kui tühja faili pole ise tekkinud, siis saab selle luua vajutades tegumiribal valge paberilehe ikooni või
  valides menüüst <span class="fst-italic">Fail</span> ning siis <span class="fst-italic">Uus</span>.</span>
  </div>
  <div class="mt-2"><span>Selleks, et saaksime asuda andmetüüpe uurima, läheb meil vaja kahte Pythoni käsku. Esimene neist on <span
    class="fst-italic">print</span>.
  Sellele käsule saab sulgudesse anda ette mingi väärtuse, mida soovime ekraanile väljastada. Proovi kirjutada Thonnysse järgmine koodijupp:</span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="printHelloCode"></span>
  </div>
  <div class="mt-2">
   <span>Selleks, et programmi käivitada, võid vajutada tegumiribal rohelist valge noolega nuppu või valida menüüst <span
     class="fst-italic">Käivita</span> ning
   sealt omakorda <span class="fst-italic">Jooksuta käesolev skript</span>. Esimesel käivitamisel palub Thonny programm salvestada, kui see pole juba salvestatud.
     Mõtle programmifailile mingi nimi ja salvesta see endale kuhugi ära. Pärast salvestamist kood käivitub ja koodiredaktori alla konsooli peaks ilmuma "Tere!".</span>
  </div>
  <div class="mt-2">
  <span>Teine vajaminev käsk on <span class="fst-italic">type</span>, millele antakse sulgude sisse samuti mingi väärtus, ja see käsk tagastab selle väärtuse tüübi.
    Näiteks "Tere!" tüübi saame teada järgmise koodijupi abil:</span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="typeHelloCode"></span>
  </div>
  <div class="mt-2">
  <span>Võid proovida seda koodijuppi käivitada, kuid midagi ei tohiks praegu konsooli tekkida. Seda sellepärast, et <span
    class="fst-italic">type</span>-käsk
  küll leiab väärtuse tüübi, aga ei väljasta seda konsooli. Väljastamiseks läheb meil jälle vaja <span
      class="fst-italic">print</span>-käsku. Saame panna oma
  tüübi leidmise käsu väljastamise käsu sisse nii:</span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="printTypeHelloCode"></span>
  </div>
  <div class="mt-2">
  <span>Seda programmi käivitades, peaks konsooli ilmuma <span class="fst-italic">&lt;class 'str'&gt;</span>. See tähenab, et "Tere!" on Pythoni keeles
  <span class="fst-italic">str</span> tüüpi, meie inimkeeles kutsume seda tüüpi sõneks.</span>
  </div>
</div>
<app-categorize-test [categories]="testCategories" [items]="testItems"
                     [exerciseTitle]="'Määra igale väärtusele õige andmetüüp.'"
                     [correctAnwser]="testCorrectAnswer"></app-categorize-test>
<h4 class="mt-5" [attr.id]="'muutujad'">Mis on muutujad?</h4>
<div class="mt-3 box-container">
  <div class="row px-0">
    <div class="col-md-12 col-lg-8">
      <div><span>Nüüd me teame, millist tüüpi andmeid me programmeerides kasutada saame. Aga kuidas neid kasutada? Me saame erinevaid andmeid kas otse
  programmi sisse kirjutada või kasutajalt küsida. Selleks, et saaksime andmetega tööd teha, peab arvuti neid oma mälus hoidma. Arvuti mälus on palju
    erinevaid registreid, kus saab andmeid hoiustada, aga meil inimesena on keeruline mäluregistrite tasandil andmetega tööd teha. Siin tulevad nüüd mängu
    <strong class="strong">muutujad</strong>. Muutujatega saame tähistada mingi koha arvuti mälus ning hoida seal andmeid. Me saame muutujale anda
    enda valitud nime. Näiteks kui tahame hoida muutujas kellegi nime, siis võime pannagi muutuja nimeks "nimi". Kui tahame hoida muutujas vanust, siis võime panna
    muutuja nimeks "vanus".
  </span>
      </div>
      <div class="mt-2"><span>Muutujatest võib mõelda kui maitseainepurkidest. Meil on mingi hunnik maitseaineid (andmeid) ja me paneme nad erinevatesse purkidesse
    (mälusse) ning selleks, et hiljem lihtsamalt soovitud maitseained üles leida, paneme purkidele ka täpsustavad sildid, mis ütlevad, mis sorti maitseaine on purgis
    (muutujad).
  </span>
      </div>
    </div>
    <div class="col-md-12 col-lg-3 my-auto">
      <img src="../../../assets/images/variables/spices.png" alt="spices" style="height: 7rem">
    </div>
  </div>
</div>
<div class="mt-3 box-container">
  <div><span>Muutuja loomiseks saame programmi kirjutada muutuja nime (mille me ise valime) ja võrdusmärgiga saame sinna muutujasse panna mingi
    väärtuse. Seda tegevust nimetatakse muutujale väärtuse <strong class="strong">omistamiseks</strong>. Järgnevas koodijupis loome kaks muutujat &ndash; <span class="fst-italic">nimi</span>
    ja <span class="fst-italic">vanus</span> ning
    omistame neile vastavalt väärtusteks "Mati" ja 10. Jälgi, et "Mati" on sõne tüüpi ja 10 on täisarvu tüüpi. Saame eelnevalt õpitud käsu <span class="fst-italic">type</span> abil ka kontrollida
    mis tüüpi on muutujas hoitav väärtus. Siis tuleb käsule <span class="fst-italic">type</span> anda argumendiks muutuja nimi.
  </span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="matiCode"></span>
  </div>
  <div class="mt-2"><span>Selles koodijupis loome kaks muutujat, omistame neile väärtused, väljastame kummagi väärtuse ekraanile ja seejärel väljastame
    ekraanile ka nende muutujate väärtuste tüübid. Konsooli peaks seepeale ilmuma:
  </span>
  </div>
  <div class="code-block mt-2">
    <span class="fst-italic">Mati<br>10<br>&lt;class 'str'&gt;<br>&lt;class 'int'&gt;</span>
  </div>
</div>
<h4 class="mt-5" [attr.id]="'input'">Sisendi küsimine käsuga <span class="fst-italic">input</span></h4>
<div class="mt-3 box-container">
  <div><span>Õpime nüüd ära veel ühe uue käsu, milleks on <span class="fst-italic">input</span>. Inglise keeles tähendab <span
    class="fst-italic">input</span>
    sisendit ja just kasutajalt sisendi saamiseks seda käsku kasutataksegi. Kui programmis on <span
      class="fst-italic">input</span>-käsk, siis jääb arvuti ootama, et
    kasutaja konsooli midagi trükiks ja <span class="fst-italic">Enter</span> klahvi vajutaks. Seejärel tagastab <span
      class="fst-italic">input</span>-käsk programmile kasutaja sisestatud
    sõne ja me saame seda oma programmis kasutada. Näiteks võime kasutajalt küsida tema nime ja teda siis nimeliselt tervitada. Või küsida tema sünniaastat ja arvutada, kui
    vana ta praegu on. Käsk <span class="fst-italic">input</span> tagastab sisestatud väärtuse alati sõnena, isegi kui kasutaja sisestab arvu. Võid seda kohe ka ise proovida. Näiteks
    küsime käsu <span class="fst-italic">input</span> abil kasutajalt kõigepealt ta nime ja siis vanust ning kontrollime, mis tüüpi sisestatud  väärtused on:
  </span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="inputCode"></span>
  </div>
  <div class="mt-2"><span>Kõigepealt anname <span class="fst-italic">print</span>-käsuga kasutajale teada, mis andmed ta sisestama peaks. Seejärel kasutame <span
    class="fst-italic">input</span>-käsku ja salvestame kasutaja sisestatud väärtuse muutujasse. Konsoolis võiks programmi käivitamine välja näha selline:
  </span>
  </div>
  <div class="code-block mt-2">
    <span class="fst-italic">Sisesta oma nimi: <br><span class="code-input">Mati</span><br>Sisesta oma vanus: <br><span
      class="code-input">13</span><br>&lt;class 'str'&gt;<br>&lt;class 'str'&gt;</span>
  </div>
  <div class="mt-2"><span>Tegelikult saab sama asja ka natuke lühemalt kirjutada ja hoopis <span class="fst-italic">input</span>-käsule
    sulgudesse anda sõnena need juhised, mida praegu ise <span class="fst-italic">print</span>-käsuga väljastasime.</span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="shortInputCode"></span>
  </div>
</div>
<div class="mt-3 box-container">
  <div><strong>Muutujate nimetamine</strong></div>
  <div class="mt-2"><span>Siiski ei saa me muutujatele päris igasuguseid nimesid panna, on mõned piirangud. Muutuja nimi ei tohi sisaldada tühikuid.
  Tühikute asemel kasutatakse tihtipeale alakriipsu "_". Samuti peab muutuja nimi algama kas tähe või alakriipsuga, numbrid ja paljud teised sümbolid pole nime alguses lubatud.
    Hea tava on alustada muutuja nime väikse algustähega. Muutujaid nimetades
  on alati hea kasutada tähendusega nimesid. Võime küll panna muutujale nimeks <span
      class="fst-italic">a</span> või <span class="fst-italic">b</span>,
  kuid näiteks <span class="fst-italic">pikkus</span> ja <span class="fst-italic">kõrgus</span> näitavad palju paremini, mida see muutujasse salvestatud
  väärtus tähendab.</span></div>
</div>
<app-multichoice-test [items]="variableNamesTest" [title]="'Millised järgmistest on korrektsed muutuja nimed?'"
                      [formControlNameBase]="'variableNames'"></app-multichoice-test>
<h4 class="mt-5" [attr.id]="'tehted'">Tegevused andmetüüpidega</h4>
<div class="mt-3 box-container">
  <div><span>Erinevate andmetüüpidega saame sooritada erinevaid tegevusi. Näiteks täis- ja ujukomaarvudega saame sooritada erinevaid arvutustehteid.
    Sõnesid saame omavahel kokku liita ja moodustada nii uusi sõnesid. Tõeväärtusi kasutatakse loogilistes avaldistes ehk tingimuslausetes.
    <strong class="strong">Loogilise avaldise</strong> vastus on alati kas tõene või väär ja
    kõnekeeles saab neid esitada kas-küsimustena. Näiteks 2 + 2 = 4 on loogiline avaldis, mille väärtus on tõene.
    Küsimusele "Kas 2 + 2 = 4?" oskame vastata "Jah". Loogilise avaldise 2 + 2 = 5 väärtus oleks aga väär.
  </span>
  </div>
</div>
<div class="mt-3 box-container">
  <div><strong>Tehted täis- ja ujukomaarvudega</strong></div>
  <div class="mt-2"><span>Matemaatikast teame, et arve saab omavahel liita, lahutada, korrutada ja jagada. Mida vanemasse klassi jõuda, seda rohkem
    lisandub erinevaid tehteid, mida tundma õpime. Põhikooli lõpuks oskame juba lisaks põhitehetele ka astendada, ruutjuurt võtta ning kolmnurga siinust ja koosinust arvutada.
    Kõike seda saab teha ka programmeerides. Põhilised tehted, mida võib vaja minna:</span></div>
  <div class="mt-3">
    <table class="table table-bordered table-custom" aria-describedby="tehted">
      <thead>
      <tr>
        <th>Avaldis</th>
        <th>Väärtus</th>
        <th>Selgitus</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>2 + 5</td>
        <td>7</td>
        <td>Liitmine</td>
      </tr>
      <tr>
        <td>5 - 2</td>
        <td>3</td>
        <td>Lahutamine</td>
      </tr>
      <tr>
        <td>2 * 5</td>
        <td>10</td>
        <td>Korrutamine</td>
      </tr>
      <tr>
        <td>5 / 2</td>
        <td>2.5</td>
        <td>Jagamine (tulemuseks alati ujukomaarv)</td>
      </tr>
      <tr>
        <td>5 // 2</td>
        <td>2</td>
        <td>Täisosa leidmine (sarnane jagamisele, aga tulemuseks on alati täisav)</td>
      </tr>
      <tr>
        <td>5 ** 2</td>
        <td>25</td>
        <td>Astendamine</td>
      </tr>
      <tr>
        <td>5 % 2</td>
        <td>1</td>
        <td>Jäägi leidmine</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mt-2"><span>Neid tehteid võid ka ise Thonnys järele proovida. Ära unusta kasutada <span
    class="fst-italic">print</span>-käsku, et
  tehte tulemus ka väljastada. Näiteks:</span></div>
  <div class="code-block mt-2">
    <span [highlight]="printDivisionCode"></span>
  </div>
  <div class="mt-2"><span>See koodijupp annab meile konsooli tulemuse 7.0. Paneme tähele, et tavaline jagamise tehe annab meile
  tulemuse alati komakohaga, isegi kui arvud jaguvad täpselt. 21 jagatud 3-ga on täpselt 7, aga Pythonis programmeerides on jagamise tulemuseks alati
  ujukomaarv. Seega on 21 / 3 tulemus 7.0, mitte 7.</span></div>
</div>
<div class="mt-3 box-container">
  <div><strong class="strong">Tehted sõnedega</strong></div>
  <div class="mt-2"><span>Sõnedega on samuti võimalik erinevaid tehteid teha. Näiteks saame sõnesid omavahel liita ja sõnet korrutada mingi arvuga.
  Siin aga pole tulemused võib-olla nii iseenesest mõistetavad, kui arvudega toimetades. Sõnesid liites saame tulemuseks uue sõne, mis on kokku pandud liidetavatest.
    Sõnet arvuga korrutades liidetakse sõnet iseendaga see arv kordi. Lisaks on sõnedel terve hulk erinevaid meetodeid, mis näiteks muudavad kõik
  sõnes olevad tähed suurteks või hoopis muudavad iga sõna esimese tähe suureks. Meetodid lisatakse sõnede külge punktiga ja meetodi lõpus on sulud. Olenevalt
  meetodist on sulud tühjad või lisatakse sulgude vahele veel midagi.</span></div>
  <div class="mt-3">
    <table class="table table-bordered table-custom" aria-describedby="tehted">
      <thead>
      <tr>
        <th>Avaldis</th>
        <th>Väärtus</th>
        <th>Selgitus</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>"Tere" + " päevast!"</td>
        <td>"Tere päevast!"</td>
        <td>Sõnede liitmine</td>
      </tr>
      <tr>
        <td>"Tere" * 3</td>
        <td>"TereTereTere"</td>
        <td>Korrutamine sõne ja arvu vahel</td>
      </tr>
      <tr>
        <td>"Tere".upper()</td>
        <td>"TERE"</td>
        <td>Muudab sõnes kõik tähed suureks</td>
      </tr>
      <tr>
        <td>"Tere".lower()</td>
        <td>"tere"</td>
        <td>Muudab sõnes kõik tähed väikseks</td>
      </tr>
      <tr>
        <td>"Tere päevast! täna on ilus ilm.".title()</td>
        <td>"Tere Päevast! Täna On Ilus Ilm"</td>
        <td>Muudab iga sõna algustähe suureks</td>
      </tr>
      <tr>
        <td>"Tere päevast! täna on ilus ilm.".capitalize()</td>
        <td>"Tere päevast! Täna on ilus ilm."</td>
        <td>Muudab iga lause algustäht suureks</td>
      </tr>
      <tr>
        <td>"Tere päevast!".replace("e", "ö")</td>
        <td>"Törö päövast!"</td>
        <td>Asendab sõnes etteantud sõned teise etteantud sõnega</td>
      </tr>
      <tr>
        <td>"Aias sadas saia".count("as")</td>
        <td>2</td>
        <td>Loendab etteantud sõne esinemiste arvu sõnes</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="mt-3 box-container">
  <div><span>Proovime näiteks kirjutada programmi, mis küsib kasutajalt tema nime ja väljastab, mitu pikka sulghäälikut on kasutaja nimes.
  Kõigepealt peame mõtlema, millised on pikad sulghäälikud? Need on teatavasti <span class="fst-italic">k, p, t</span>. Konkreetse tähe
  esinemiste arvu loendamiseks sobiks meile <span class="fst-italic">count</span>-meetod. Seega näiteks k-tähe loendamine ja selle arvu väljastamine
    käiks nii:</span></div>
  <div class="code-block mt-2">
    <span [highlight]="nameCountKCode"></span>
  </div>
  <div class="mt-2"><span>Siin küsime kasutajalt tema nime ning salvestame selle muutujasse <span class="fst-italic">nimi</span>.
  Seejärel leiame k-tähe esinemiste arvu kasutaja sisestatud nimes ning salvestame selle muutujasse <span
      class="fst-italic">k_arv</span>.
  Viimase sammuna väljastame leitud arvu ka kasutajale. Siin tuleb tähele panna, et tahame liita leitud arvu kokku sõnedega ning selleks peame
  kõigepealt <span class="fst-italic">k_arvu</span> teisendama sõneks. Kui prooviksime ilma teisendamata <span
      class="fst-italic">int</span>-tüüpi
  arvu sõnele liita, saaksime veateate.</span></div>
  <div class="mt-2"><span>Sarnaselt k-tähe loendamisele, saame loendada ka kõiki teisi sulghäälikuid ning liita nende esinemiste arvud omavahel kokku.</span>
  </div>
  <div class="code-block mt-2">
    <span [highlight]="nameCountCode"></span>
  </div>
  <div class="mt-2"><span>Kuid mis siis kui kasutaja nimi algab suure K-tähega? Hetkel meie programm otsib ainult väikseid tähti. Selle parandamiseks saame
  kas lisada samasugused loendamised ka suurte tähtede jaoks või siis muuta kõik tähed kasutaja nimes väikesteks. Kas teame mõnda meetodit, mis oskaks seda teha?
  Äkki sobiks meetod <span class="fst-italic">lower</span>?</span></div>
  <div class="code-block mt-2">
    <span [highlight]="nameLowerCountCode"></span>
  </div>
  <div class="col-md-12 m-3">
    <img src="../../../assets/images/variables/name_kpt.png" alt="name_kpt" class="height-5rem">
  </div>
</div>
<div class="mt-3 box-container">
  <div><strong class="strong">Andmetüüpide teisendamine</strong></div>
  <div class="mt-2"><span>Vahepeal on meil vaja andmeid teisendada ühest tüübist teise. <span
    class="fst-italic">Input</span>-käsk annab meile
  tulemuse alati sõnena, isegi kui kasutaja sisestab mingi arvu. Kui aga tahame kasutaja sisendit arvuna kasutada ja sellega näiteks arvutusi teha,
    siis peame sisendi ise käsitsi <span class="fst-italic">int</span>- või <span class="fst-italic">float</span>-tüübiks teisendama. Tüübiteisendusteks
  kasutatavad käsud on täpselt samade nimedega nagu tüübid ise: <span
      class="fst-italic">int, float, str, bool</span>. Järgnevalt on mõned näited
  tüübiteisendustest:</span></div>
  <div class="code-block mt-2">
    <span [highlight]="typeConversionsCode"></span>
  </div>
  <div class="mt-2"><span>Sõnede teisendamisel täisarvudeks ja ujukomaarvudeks on oluline, et sõne sisu oleks arv. Kui proovime näiteks sõnet "Tere"
  teisendada <span class="fst-italic">int</span>-tüübiks, saame hoopis veateate. Tõeväärtuste teisendamine on ka huvitav. Kui tühi sõne
    teisendada tõeväärtuseks, siis on tulemus <span class="fst-italic">False</span>. Kui sõnes on vähemalt üks  täht, number või sümbol, siis
    on tulemus <span class="fst-italic">True</span>. Arvude teisendamisel annab 0 tulemuseks <span class="fst-italic">False</span> ja kõik teised
    arvud tulemuseks <span class="fst-italic">True</span>.</span></div>
</div>
<app-fill-blank-dropdown-test [title]="'Vali iga avaldise jaoks rippmenüüst sobiv tehtemärk või meetod.'"
                              [items]="operatorsTest"></app-fill-blank-dropdown-test>
<h4 class="mt-5" [attr.id]="'harjutused'">Harjutused</h4>
<div class="mt-3 box-container">
  <div><strong class="strong">Tervitus</strong></div>
  <div class="mt-2"><span>Proovi kirjutada programm, mis küsiks kasutajalt tema nime (ees- ja perekonnanimi) ning tervitaks teda nimeliselt.
  Programm peaks kuvama nii ees- kui perekonnanime algustähe suurelt ja ülejäänud tähed väikselt (sidekriipsuga nimedega ei pea
  programm õigesti töötama). Mõned näited programmitööst:</span></div>
  <div class="code-block mt-2 fst-italic">
    <span>Sisesta oma nimi: <span class="code-input">kristi kuusk</span><br></span>
    <span>Tere tulemast programmeerimise kursusele, Kristi Kuusk!</span>
  </div>
  <div class="code-block mt-2 fst-italic">
    <span>Sisesta oma nimi: <span class="code-input">MATI MUSTIKAS</span><br></span>
    <span>Tere tulemast programmeerimise kursusele, Mati Mustikas!</span>
  </div>
  <div class="code-block mt-2 fst-italic">
    <span>Sisesta oma nimi: <span class="code-input">Kati liis orAv</span><br></span>
    <span>Tere tulemast programmeerimise kursusele, Kati Liis Orav!</span>
  </div>
  <app-exercise-hints [hints]="greetingExerciseHints"></app-exercise-hints>
</div>
<div class="mt-3 box-container">
  <div class="row px-0">
    <div class="col-md-12 col-lg-8">
      <div><strong class="strong">Võileivatort</strong></div>
      <div class="mt-2"><span>Mari tahab oma sünnipäeval külalistele võileivatorti pakkuda ja tal on juba tordi tegemiseks röstsaiapakid
  ostetud. Ta teab ka külaliste arvu. Mari tahaks igale külalisele pakkuda ühe tüki võileivatorti (üks tükk on ühe viilu suurune).
        Kirjuta programm, mis aitaks Maril arvutada, mitme kihiga tordi ta teha saab.
    Programm peaks:</span></div>
      <div class="mt-2"><span>1. Küsima kasutajalt mitu röstsaiapakki tal on</span></div>
      <div><span>2. Küsima viilude arvu ühes pakis</span></div>
      <div><span>3. Küsima tordisööjate arvu</span></div>
      <div><span>4. Arvutama ja väljastama, mitu kihti saab sellest röstsaiakogusest teha (arvestame, et poolikut kihti ei tee)</span>
      </div>
    </div>
    <div class="col-md-12 col-lg-3 m-3">
      <img src="../../../assets/images/variables/sandwich_cake.png" alt="sandwich_cake" class="height-20rem">
    </div>
  </div>
  <div class="mt-2"><span>Mõned näited programmi tööst:</span></div>
  <div class="code-block mt-2 fst-italic">
    <span>Sisesta röstsaiapakkide arv: <span class="code-input">3</span><br></span>
    <span>Sisesta viilude arv ühes pakis: <span class="code-input">15</span><br></span>
    <span>Sisesta tordisööjate arv: <span class="code-input">10</span><br></span>
    <span>Röstsaia on piisavalt 4-kihilise tordi jaoks.</span>
  </div>
  <div class="code-block mt-2 fst-italic">
    <span>Sisesta röstsaiapakkide arv: <span class="code-input">2</span><br></span>
    <span>Sisesta viilude arv ühes pakis: <span class="code-input">20</span><br></span>
    <span>Sisesta tordisööjate arv: <span class="code-input">8</span><br></span>
    <span>Röstsaia on piisavalt 5-kihilise tordi jaoks.</span>
  </div>
  <app-exercise-hints [hints]="sandwichCakeExerciseHints"></app-exercise-hints>
</div>
<button [routerLink]="'/tingimuslaused'" class="btn btn-primary my-5 float-end">
  <fa-icon [icon]="'arrow-right'"></fa-icon>
  <span class="ps-2">Järgmine peatükk</span></button>
