<h1>TERE TULEMAST!</h1>
<div class="mt-4 box-container">
    <span>See siin on programmeerimise õpik, mis on eelkõige mõeldud põhikooli õpilastele iseseisvaks õppimiseks.
      Programmeerimiskeelena kasutatakse siin õpikus Pythonit, kuid siin õpetatavad põhitõed kehtivad ka teistes
      programmeerimiskeeltes.</span>
</div>
<h4 class="mt-4">Kuidas seda õpikut kasutada?</h4>
<div class="mt-4 box-container">
    <div><span>Õpik on jaotatud erinevatesse alateemadesse:</span></div>
    <div class="mt-2"><span>1. Sissejuhatus</span></div>
    <div><span>2. Programm ja algoritm</span></div>
    <div><span>3. Muutujad ja avaldised</span></div>
    <div><span>4. Tingimuslaused</span></div>
    <div><span>5. Korduslaused</span></div>
    <div><span>6. Funktsioonid</span></div>
    <div><span>7. Andmestruktuurid</span></div>
    <div class="mt-2">
      <span>Need erinevad teemad on kättesaadavad menüüst. Kõige parem on alustada esimesest peatükist "</span>
      <a [routerLink]="'sissejuhatus'"><span>Sissejuhatus</span></a><span>" ning siis liikuda järjest edasi. Iga järgmine peatükk
      eeldab, et oled eelmiste peatükkide tarkused omandanud.</span>
    </div>
</div>
