<h1>SISSEJUHATUS</h1>
<div class="mt-4 intro-container">
  <h5>Mida ma selles peatükis õpin?</h5>
  <div><span>1. Mis on arvuti? Millest arvuti koosneb?</span></div>
  <div><span>2. Mis on programmeerimine?</span></div>
  <div><span>3. Mis on programmeerimiskeeled?</span></div>
  <div><span>4. Mida programmeerimiseks vaja läheb?</span></div>
</div>
<h4 class="mt-5">Mis imeloom on arvuti?</h4>
<div class="mt-4 box-container">
  <div><span>Sa oled kindlasti arvutit näinud ja kasutanud. Ilmselt kasutad arvutit ka praegu selle õpiku lugemiseks.
  Aga kas sa tead, mis see arvuti täpsemalt on?</span></div>
  <div class="mt-2"><span>Tihtipeale kujutatakse arvutile mõeldes ette sülearvutit või lauaarvutit, millel on monitor, klaviatuur ja hiir.
  Samuti võivad pähe tulla tahvelarvuti, nutitelefon ja nutikell. Aga tegelikult kuuluvad arvutite alla ka näiteks
  temperatuuri reguleeriv veekeedukann, telekas ja palju muud. Arvutite alla võime lugeda kõik seadmed, mis teevad etteantud käskluste põhjal mingeid tehteid ja arvutusi.</span>
  </div>
  <div class="mt-2"><span>Arvuti silmaga nähtavat ja käega katsutavat osa kutsutakse <strong
    class="strong">riistvaraks</strong>. Siia alla kuuluvad näiteks hiir, klaviatuur ja kuvar, aga ka arvuti sees olevad komponendid.
  Tüüpilise personaalarvuti tähtsaimad komponendid on:</span></div>
</div>
<div class="mt-4 box-container">
  <div><span><strong class="strong">Protsessor</strong> - see on arvuti aju, mis vastutab käskude täitmise eest ning mis kontrollib kõike arvutis toimuvat</span>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Mälu</strong> - nagu ka meil, on arvutil vaja teatud asju meeles hoida samal ajal kui ta tööd teeb ning selleks kasutab arvuti mälu.
  Inimese mõistes oleks see nagu näiteks peastarvutamisel vahetulemuste meeles pidamine enne kui lõpliku vastuseni jõuame või raamatut lugedes sõnade meeles pidamine,
  kuni need moodustavad lause ja saame lause mõttest aru.</span></div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Salvestusruum</strong> - salvestusruum on pikaajaliste andmete savestamiseks. Mälu on arvutitel tüüpiliselt üsna piiratud, kuna see on kallis,
  ning kõiki faile ja andmeid ei õnnestu korraga mälus hoida. Seepärast salvestatakse andmed, mida hetkel ei kasutata, salvestusruumi. Salvestusruum on küll aeglasem, aga odavam ning
  siit saab andmeid vajadusel jälle mälusse lugeda. Inimestega on kohati samamoodi &ndash; meil on palju mälestusi ja kui tahame, võime mõnele konkreetsele mälestusele mõelda, aga me ei suuda
  korraga kõikidele oma mälestustele mõelda.</span></div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Emaplaat</strong> - emaplaat ühendab kõik arvuti komponendid üheks tervikuks. Selle külge on ühendatud nii protsessor, mälu, salvestusruum
  kui ka kõik teised arvuti tööks olulised asjad. Läbi emaplaadi toimub ka suhtlus erinevate komponentide vahel.</span>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Graafikakaart</strong> - graafikakaart vastutab pildi kuvamise eest. Siin tehakse arvutusi ja toiminguid, mis on vajalikud
  monitoril pildi kuvamiseks.</span></div>
</div>
<h4 class="mt-5">Kuidas arvuti töötab?</h4>
<div class="mt-4 box-container">
  <div><span>Nüüd tekib kindlasti küsimus, et aga kuidas ikkagi arvuti oskab nii palju erinevaid asju teha ja kuidas ta teab, mida tegema peab? Siin tulevadki nüüd mängu programmeerimine ja programmid.</span>
  </div>
  <div class="mt-2"><span><strong class="strong">Programm</strong> on käskude jada, millest arvuti oskab aru saada ning neid täita. <strong
    class="strong">Programmeerimine</strong>
  on programmide kirjutamine. Paraku aga ei saa me arvutile lihtsalt inimkeeles öelda: "Võta arvud 2 ja 1 ning liida need kokku". Arvuti jaoks on arusaadav kahendkood, mis
  koosneb ainult arvudest 1 ja 0. Arvuti kõhus toimib kõik tänu elektrile ning 1 tähenab, et vastavas kohas on elektriline laeng ja 0 tähendab, et ei ole. Kõiki arve, tähti ja sümboleid
  on võimalik teisendada kahendkoodi. Näiteks sõnale "Tere" vastab kahendkoodis <span class="fst-italic">01010100 01100101 01110010 01100101</span>.</span>
  </div>
  <div class="mt-2"><span>Nende nullide ja ühtedega tehteid tehes suudab arvuti igasuguseid asju teha, paraku on aga kahendkoodis inimestel väga keeruline kirjutada.</span>
  </div>
  <div class="mt-2"><span>Praegu pole veel välja mõeldud lihtsat viisi, kuidas muuta tavaline kõnekeelne tekst arvuti jaoks arusaadavateks käskudeks. Küll aga on loodud spetsiaalsed
    keeled, mida kutsutakse <strong class="strong">programmeerimiskeelteks</strong> ja mida on nii inimestel lihtne kirjutada kui ka arvutil enda jaoks arusaadavateks
    ahendkoodiks teisendada.</span></div>
</div>
<h4 class="mt-5">Milliseid programmeerimiskeeli on olemas?</h4>
<div class="mt-4 box-container">
  <div class="mt-2"><span>Programmeerimiskeeli on mitmeid ning mitme tasemega. Neid keeli, mis on sarnased arvutile arusaadavale kahendkoodile, nimetatakse madala taseme keeteks.
  Neid keeli, mis sarnanevad rohkem inimeste keeltele, nimetatakse kõrge taseme keelteks. Võtame siinkohal ühe lihtsa eesmärgi, väljastada ekraanile lause: "Tere!" ning vaatame, kuidas
  seda erinevates programmeerimiskeeltes teha.</span></div>
</div>
<div class="mt-4 box-container">
  <div class="mt-4"><span><strong class="strong">Masinkeel</strong> - see on üks kõige madalama tasemega keeli ning see koosneb ainult kahendarvudest (siin näites kujutatud
    kuueteistkümnendsüsteemis).</span>
    <div class="code-block mt-4"><span>
      401126&nbsp;&nbsp;&nbsp;&nbsp;55<br>
      401127&nbsp;&nbsp;&nbsp;&nbsp;48&nbsp;89&nbsp;e5<br>
      40112a&nbsp;&nbsp;&nbsp;&nbsp;bf&nbsp;04&nbsp;20&nbsp;40&nbsp;00<br>
      40112f&nbsp;&nbsp;&nbsp;&nbsp;b8&nbsp;00&nbsp;00&nbsp;00&nbsp;00<br>
      401134&nbsp;&nbsp;&nbsp;&nbsp;e8&nbsp;f7&nbsp;fe&nbsp;ff&nbsp;ff<br>
      401139&nbsp;&nbsp;&nbsp;&nbsp;b8&nbsp;00&nbsp;00&nbsp;00&nbsp;00<br>
      40113e&nbsp;&nbsp;&nbsp;&nbsp;5d<br>
      40113f&nbsp;&nbsp;&nbsp;&nbsp;c3<br>
      ...<br>
      402004&nbsp;&nbsp;&nbsp;&nbsp;54&nbsp;65&nbsp;72&nbsp;65&nbsp;21&nbsp;10&nbsp;00
    </span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Assembler</strong> - assembler on masinkeelest samm kõrgemal, siin juba on käskudel natuke loetavamad tähised, kuid
    siiski on see inimese jaoks veel üsna keeruline kirjutada.</span>
    <div class="code-block mt-4"><span>.LC0:<br>
       &nbsp;&nbsp;&nbsp;&nbsp;.string&nbsp;"Tere!"<br>
        main:<br>
        &nbsp;&nbsp;&nbsp;&nbsp;push&nbsp;&nbsp;rbp<br>
        &nbsp;&nbsp;&nbsp;&nbsp;mov&nbsp;&nbsp;rbp,&nbsp;rsp<br>
        &nbsp;&nbsp;&nbsp;&nbsp;mov&nbsp;&nbsp;edi,&nbsp;OFFSET&nbsp;FLAT:.LC0<br>
        &nbsp;&nbsp;&nbsp;&nbsp;mov&nbsp;&nbsp;eax,&nbsp;0<br>
        &nbsp;&nbsp;&nbsp;&nbsp;call&nbsp;&nbsp;printf<br>
        &nbsp;&nbsp;&nbsp;&nbsp;mov&nbsp;&nbsp;eax,&nbsp;0<br>
        &nbsp;&nbsp;&nbsp;&nbsp;pop&nbsp;&nbsp;rbp<br>
        &nbsp;&nbsp;&nbsp;&nbsp;ret</span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">C</strong> - </span>
    <div class="code-block mt-4"><span>
       #include&nbsp;&lt;stdio.h&gt;<br>
      <br>
      int&nbsp;main(void)<br>
      {{ '{' }}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;printf("Tere!\n");<br>
      }
    </span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">C++</strong> - </span>
    <div class="code-block mt-4"><span>
       #include&nbsp;&lt;isostream&gt;<br>
      <br>
      int&nbsp;main()<br>
      {{ '{' }}<br>
      std::cout&nbsp;&lt;&lt;&nbsp;"Tere!\n";<br>
      return&nbsp;0;<br>
      }
    </span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Java</strong> - </span>
    <div class="code-block mt-4"><span>
      class Tere {{ '{' }}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;public static void main(String[] args) {{ '{' }}<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Tere!");<br>
      &nbsp;&nbsp;&nbsp;&nbsp;}<br>
      }
    </span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">JavaScript</strong> - </span>
    <div class="code-block mt-4"><span>
      console.log("Tere!");
    </span></div>
  </div>
</div>
<div class="mt-2 box-container">
  <div><span><strong class="strong">Python</strong> - </span>
    <div class="code-block mt-4"><span>
      print("Tere!")
    </span></div>
  </div>
</div>
