<h1>ÕPETAJALE</h1>
<div class="mt-4 box-container">
  <div>Hea õpetaja!</div>
  <div class="mt-4">Mul on suur rõõm, et oled leidnud tee programmeerimise juurde ning avastanud õpiku "Programmeerimine põhikoolis".
    Selleks, et Sinu elu lihtsamaks teha, olen loonud lisamaterjale ja pannud kokku tunnikavad, mille abil on võimalik planeerida terve kursus.
  </div>
  <div class="mt-2">Kuigi õpetajamaterjal on mõeldud kasutamiseks üheskoos käesoleva õpikuga, on suurem osa loodud ülesandeid ja mänge kasutatavad ka teiste õppematerjalidega.
    Loodan, et saad siit ideid ning mõtteid põnevate programmeerimistundide läbiviimiseks.
  </div>
  <div class="mt-2">Materjalid on leitavad Google'i dokumendina <a href="https://docs.google.com/document/d/1-IZ_Gj1fbscfAGmH5Sx8dXBGHA2vM_qTVVwIJ0w7U4o/edit?usp=drivesdk" target="_blank">siit</a>.</div>
  <div class="mt-4">Mõnusat katsetamist soovides</div>
  <div>Kaisa Liina Keps</div>
  <div>Õpetajamaterjalide autor</div>
</div>
