<h1>KLASSID JA ISENDID</h1>
<div class="mt-4 intro-container">
  <h5>Mida selles peatükis õpime?</h5>
  <div><span>1. Mis on objektorienteeritud programmeerimine?</span></div>
  <div><span>2. Mis on klassid ja isendid?</span></div>
  <div><span>3. Mis on konstruktor, kuidas seda kirja panna ja kuidas selle abil isendeid luua?</span></div>
  <div><span>4. Mis vahe on funktsioonidel ja meetoditel?</span></div>
  <div><span>5. Kuidas klassile meetodeid lisada?</span></div>
</div>
<div class="mt-3 box-container">
  <div><span>Nüüdseks me teame, kuidas kasutada erinevaid algtüüpe nagu täisarvud, ujukomaarvud, sõned ja tõeväärtused. Õppisime kasutama ka
  erinevaid andmestruktuure, mis lihtsustasid suurema hulga andmetega töötamist. Kuid vahepeal võib juhtuda, et algtüüpidest jääb väheks. Näiteks kui
    tahame kirja panna hunniku õpilasi, kellel on kõigil ports omadusi, nagu nimi, isikukood, sugu, elukoht, pikkus jne.
    Selles peatükis õpime, kuidas ise uut andmetüüpi programmis defineerida ja kasutada.</span></div>
</div>
<div class="mt-3 box-container">
  <div><span>Objektorienteeritud programmeerimises, nagu nimigi ütleb, on peamisel kohal objektid. Nii nende loomine kui kasutamine. Objekti võib
  teisiti nimetada ka <strong class="strong">isendiks</strong>. Objekt on tegelikult lihtsalt andemtüüp, tal on omadused ja meetodid.
    Meetodid on väga sarnased funktsioonidele, erinevus on aga see, et meetodid rakenduvad mingile konkreetsele isendile. Tegelikult oleme ju juba päris palju
    meetode kasutanud. Näiteks sõnede meetodeid <span class="fst-italic">lower()</span>, <span class="fst-italic">split()</span> ja
    <span class="fst-italic">count()</span>.</span></div>
  <div class="mt-2">Võime mõelda igasugustest asjadest enda ümber kui objektidest. Võtame näiteks koera. Ühel koera
    omadusteks on näiteks tõug, nimi ja
    vanus. Meetoditeks või teisiti mõeldes iseloomulikuks käitumiseks võib olla saba liputamine, haukumine ja istumine.
  </div>
</div>
<h4 class="mt-5">Mis on klass ja kuidas seda koostada?</h4>
<div class="mt-3 box-container">
  <div><span>Eeltoodud koera objekti näite puhul on need omadused ja meetodid olemas kõikidel koertel, aga samas igal üksikul koeral võivad
    nendele omadustele vastavad väärtused erineda. Näiteks ühe koera tõug on taks, teisel labakoer, kolmandal hoopis hundikoer. Need omadused ja meetodid
    moodustavad justkui malli, mille abil saame erinevaid koeri luua. Seda
  malli, mis kirjeldab ära uue objekti või andmetüübi, nimetatakse <strong class="strong">klassiks</strong>.</span>
  </div>
  <div class="mt-2"><span>Kui soovime ise uut klassi kirjeldada, siis alustame võtmesõnast <strong
    class="strong fst-italic">class</strong>,
    mis inglise keeles tähendabki just klassi. Sellele võtmesõnale järgneb klassi nimi ja koolon. Klasside nimed algavad alati suure tähega ja peavad olema
    meie koodis unikaalsed. Nimele ja koolonile järgneb juba klassi sisu, mis kirjutatakse taandega.</span></div>
  <div class="mt-2 code-block"><span [highlight]="classStartCode"></span></div>
</div>
<h4 class="mt-5" [attr.id]="'konstruktor'">Mis on konstruktor?</h4>
<div class="mt-3 box-container">
  <div>Klassidel on eriline protseduur, mida kutsutakse <strong class="strong">konstruktoriks</strong>. Seda
    kirjutatakse sarnaselt teistele funktsioonidele, kuid tal
    on alati kindel nimi <strong class="strong fst-italic">__init__</strong>. Konstruktoris määratakse ära klassi
    omadused, mida kutsutakse <strong class="strong">isendiväljadeks</strong>. Tegelikult on
    isendiväljad lihtsalt muutujad, mis kirjeldavad ära klassi põhjal loodud isendi. Konstruktorile tuleb isendiväljade
    väärtused argumentideks anda ja konstruktori
    sees omistatakse need väärtused vastavatele isendiväljadele. Argumendi ja isendivälja nimi ei pea samad olema, aga võivad.
  </div>
  <div class="mt-2"><span>Konstruktori esimene argument on aga viide isendile ja selle argumendi kaudu kasutame konstruktoris isendivälju. On kombeks nimetada
  seda argumenti nimega <strong class="strong fst-italic">self</strong>, mis inglise keeles tähendab <span
      class="fst-italic">ennast</span>.</span></div>
  <div class="mt-2 code-block"><span [highlight]="basicDogClassCode"></span></div>
</div>
<div class="mt-3 box-container">
  <strong class="strong">Mis on see argument <span class="fst-italic">self</span> siis endast ikkagi kujutab?</strong>
  <div class="mt-2">Isendi loomise hetkel antakse konstruktoris esimeks argumendiks automaatselt kaasa viide äsja loodud
    isendile. Selle argumendi kaudu
    saame klassis ära määrata, millised väljad ja meetodid kuuluvad klassi isenditele. See viide isendile on esimeseks
    argumendiks kõikidele isendimeetoditele (mille
    loomist me vaatame mõne hetke pärast) ja kõiki isendivälju saame kasutada samuti läbi selle viite. Kõigepealt <span
      class="fst-italic">self</span>, seejärel punkt ja
    siis isendivälja nimi.
  </div>
  <div class="mt-2">Tegelikult me võime anda <span class="fst-italic">self</span> asemel sellele isendi viitele ka
    ükskõik mis muu nime, aga tavaks on kasutada
    just sõna <span class="fst-italic">self</span>. Seda kasutavad praktiliselt kõik programmeerijad üle maailma ja tänu
    sellele on lihtsam ka teiste kirjutatud koodi
    lugeda. Kohe kui on näha nimetust <span class="fst-italic">self</span>, siis teatakse, et see on viide isendile.
  </div>
</div>
<app-multichoice-test [title]="'Mis on järgmises koodijupis valesti?'" [code]="basicClassTestCode" [formControlNameBase]="'basicClasstest'"
[items]="basicClassTestItems"></app-multichoice-test>
<div class="mt-3 box-container">
  <strong class="strong">Kuidas klassi isendit luua?</strong>
  <div class="mt-2"><span>Isendi ehk objekti loomine käib läbi konstruktori. Kuigi me panime konstruktori funktsioonile nimeks <span
    class="fst-italic">__init__</span>,
  siis põhiprogrammis me seda sellise nimega ei kasuta. Konstruktori välja kutsumiseks kasutatakse klassi nime (suure algustähega) ja nime järele sulgudesse antakse
  konstruktori argumendid. Isendi viidet <span class="fst-italic">self</span> me ise konstruktorit kasutades ette ei anna, see lisatakse automaatselt.</span>
  </div>
  <div class="mt-2"><span>Loodud isendid saame salvestada muutujatesse. Kui soovime mõnda isendivälja kasutada, siis saame need kätte nii, et kõigepealt kirjutame
  isendi nime, seejärel punkti ja siis isendivälja nime.</span></div>
  <div class="mt-2 code-block"><span [highlight]="dogClassWithObjectsCode"></span></div>
  <div class="mt-2"><span>Põhiprogramm algab sellelt realt, mis on ilma taandeta ja ei kuulu klassi alla. Põhiprogrammis saame luua nüüd uue klassi järgi isendeid ja
  neid kasutada.</span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="dogClassWithObjectsOutput"></span></div>
</div>
<div class="mt-3 box-container">
  <strong class="strong">Vaikeväärtused konstruktoris</strong>
  <div class="mt-2"><span>Konstruktor ei pea võtma kõiki isendiväljade väärtusi argumentidena. Me võime ka mõnele isendiväljale konstruktoris vaikeväärtuse omistada.
  Selleks pole vaja teha muud kui lihtsalt funktsiooni argumendi asemel konkreetne väärtus isendiväljale salvestada. Näiteks lisame kõikidele koertele häälitsuseks "Auh!".
  Siis on see väärtus kõikidel isenditel olemas, aga me ei pea seda konstruktoris iga kord ise käsitsi määrama.</span>
  </div>
  <div class="mt-2 code-block"><span [highlight]="dogClassDefaultFieldCode"></span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="dogClassDefaultFieldOutput"></span></div>
</div>
<app-fill-blank-dropdown-test [title]="'Vali igale tegevusele õige väärtus.'" [code]="classFieldsTestCode" [items]="classFieldsTestItems" [showArrow]="true"></app-fill-blank-dropdown-test>
<h4 class="mt-5" [attr.id]="'meetodid'">Kuidas klassile meetodeid lisada?</h4>
<div class="mt-3 box-container">
  <div><span>Klassi meetodeid pannakse kirja sarnaselt tavalistele funktsioonidele. Ainuke erinevus on, et esimene argument peab jällegi
  olema <span class="fst-italic">self</span>. Meetodeid ei saa me kutsuda välja samamoodi nagu tavalisi enda loodud funktsioone. Meetodeid kutsutakse välja
  läbi isendi. Isendi nime järele lisatakse punktiga meetodi nimi ja sulgudes argumendid. Meetodis saame kasutada isendivälju ja lisaks võivad meetodid võtta veel ka
  lisaargumente. </span></div>
  <div class="mt-2"><span>Lisame näiteks oma Koer klassile kolm meetodit &ndash; <span
    class="fst-italic">tervita()</span>,
  <span class="fst-italic">täida_käsklust()</span> ja <span class="fst-italic">vanus()</span>. Esimene meetod ei võta ühtegi lisaargumenti, lihtsalt
    väljastab tervituse. Teisele anname lisaargumendiks käskluse sõnena ja väljastame tegevuse, kolmandale anname argumendiks aasta ja see meetod tagastab koera vanuse sellel aastal.</span>
  </div>
  <div class="mt-2 code-block"><span [highlight]="dogClassMethodsCode"></span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="dogClassMethodsOutput"></span></div>
  <div class="mt-2"><span>Üks huvitav tähelepanek meetodi <span class="fst-italic">täida_käsklust()</span> juures, jälgige kuidas väljastatavas sõnes jutumärke kasutatakse.
  Kuna me juba kogu sõne ümber kasutame jutumärke, siis ei saa me lihtsalt jutumärke keset sõne kirjutada, muidu Python arvab, et tahame seal sõne lõpetada. Et Pythonile öelda,
  et seal tahame lihtsalt jutumärkide sümbolit kasutada ilma sõne lõpetamata, siis lisama jutumärkide ette längkriipsu <span
      class="fst-italic">\</span>.</span></div>
</div>
<div class="mt-3 box-container">
  <div><span>Kellele pakub huvi, siis vanuse arvutamisel võime ka argumendi ära jätta ja automaatselt leida praeguse aasta. Selleks saame kasutada Pythoni teeki
  <span class="fst-italic">datetime</span>. Et seal olevad klasse, funktsioone ja meetode kasutada, tuleb see teek kõigepealt importida. Seejärel
  saab sealt praeguse kuupäeva kätte meetodiga <span class="fst-italic">date.today()</span> ja sealt omakorda saame eraldada ainult aasta
  <span class="fst-italic">date.today().year</span>.</span></div>
  <div class="mt-2 code-block"><span [highlight]="dateTimeYearCode"></span></div>
</div>
<h4 class="mt-5" [attr.id]="'str'">Meetod <span class="fst-italic">__str__</span></h4>
<div class="mt-3 box-container">
  <div><span>Mis saab kui proovime väljastada kogu isendit, mitte ainult mõnda üksikut välja? Võime selle kohe järele proovida. Võtame oma eelmise koodi ja
proovime ühe isendi ekraanile väljastada.</span></div>
  <div class="mt-2 code-block"><span [highlight]="dogNoStrCode"></span></div>
  <div class="mt-2"><span>Ilmselt näed ekraanil midagi sellist:</span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="dogNoStrOutput"></span></div>
  <div class="mt-2"><span>Väljastatakse isendi tüüp ja asukoht arvuti mälus, kuid see ei ütle meile just eriti palju selle isendi enda kohta. Tegelikult
  saame soovi korral ise ära määrata, mida isendi väljastamisel kuvada tuleks. Selleks on klassidel olemas spetsiaalne meetod nimega
  <strong class="strong fst-italic">__str__</strong>. See meetod ei võta ühtegi argumenti peale isendiviida <span class="fst-italic">self</span>
    ja tagastab sõne. Proovime lisada oma Koer klassile selle meetodi.</span></div>
  <div class="mt-2 code-block"><span [highlight]="dogStrCode"></span></div>
  <div class="mt-2"><span>Nüüd rakendatakse meie äsja loodud meetodit <span class="fst-italic">__str__</span> kui väljastame isendeid:</span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="dogStrOutput"></span></div>
</div>
<div class="mt-3 box-container">
  <strong class="strong">Isendimeetodi välja kutsumine teises isendimeetodis</strong>
  <div class="mt-2"><span>Isendimeetodeid saame üksteise sees ka kasutada. See käib väga sarnaselt isendiväljade kasutamisele. Kõigepealt on isendiviit
  <span class="fst-italic">self</span> ja seejärel punktiga eraldatult meetodi nimi, mida soovime välja kutsuda, koos argumentidega. Näiteks kui sooviksime meetodit
  <span class="fst-italic">__str__</span> või meetodit <span class="fst-italic">vanus()</span> mõnest teisest meetodist välja kutsuda, siis teeksime seda nii:</span></div>
  <div class="mt-2 code-block"><span [highlight]="'self.__str__()'"></span></div>
  <div class="mt-2 code-block"><span [highlight]="'self.vanus(2023)'"></span></div>
</div>
<app-multichoice-test [title]="'Millised read väljastab järgmine koodijupp ekraanile?'" [code]="methodsTestCode" [formControlNameBase]="'methodsTest'"
[items]="methodsTestItems"></app-multichoice-test>
<h4 class="mt-5" [attr.id]="'andmestruktuurid'">Isendite kasutamine andmestruktuuridega</h4>
<div class="mt-3 box-container">
  <div><span>Isendeid saame kasutada ka erinevates andmestruktuurides, samamoodi nagu kasutasime algtüüpe.</span></div>
  <div class="mt-2 code-block"><span [highlight]="objectsInDataStructuresCode"></span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="objectsInDataStructuresOutput"></span></div>
  <div class="mt-2"><span>Isendite puhul on küll üks oluline erinevus, millega tuleb arvestada. Nimelt on meil kahte sorti tüüpe: algtüübid ja viittüübid. Isendid on kõik
    viittüüpi, mis tähendab et isendi väärtuseks on viit mäluaadressile, kus seda isendit hoitakse. Kui kahte isendit võrreldakse, siis võrreldakse samuti nende viitasid,
    mitte isendiväljade väärtusi. Seega kui loome mitu erinevat isendit samade väärtustega, siis Pythoni jaoks need pole võrdsed.
    See tuleb välja näiteks hulkade ja sõnastike puhul, kus meil ei tohiks olla korduvaid elemente, aga kui isendite viidad on erinevad, siis Pythoni jaoks need ongi
    erinevad, isegi kui kõikide isendiväljade väärtused on võrdsed.</span></div>
  <div class="mt-2 code-block"><span [highlight]="setExampleCode"></span></div>
  <div class="mt-2"><span>Siin on näha, et kui lisame hulka kaks korda sama muutujat, siis nende viidad on samad ja lõpuks on isend hulgas ikkagi ühekordselt</span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="setExampleOutput"></span></div>
  <div class="mt-2"><span>Kui aga lisame nüüd kaks erinevat isendit, kelle isendiväljade väärtused on samad, siis on ka hulgas need mõlemad isendid olemas:</span></div>
  <div class="mt-2 code-block"><span [highlight]="setExampleExtraCode"></span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="setExampleExtraOutput"></span></div>
</div>
<h4 class="mt-5" [attr.id]="'harjutused'">Harjutused</h4>
<div class="mt-3 box-container">
  <strong class="strong">Klass</strong>
  <div class="mt-2">
    <span>Selles ülesandes kirjutame kaks klassi: Õpilane ja Klass. Igal õpilasel on järgmised omadused: nimi, sugu ("N" või "M") ja keskmine hinne. Klassil
    on klassi number ja järjend õpilastest, kes selles klassis õpivad. Klassi Õpilane konstruktoris tuleks nimi, sugu ja keksmine hinne isendiväljad väärtustada. Lisaks
      peaks seal klassis olema meetod <span class="fst-italic">__str__</span>, mis aitab õpilase andmeid ilusti kuvada. Klassis Klass peaks konstruktoris looma isendivälja
      <span class="fst-italic">õpilased</span> ja omistama sinna tühja järjendi. Lisaks peaks seal klassis olema meetod <span class="fst-italic">lisa_õpilane()</span>,
        mis võtab argumendiks õpilase isendi ja lisab selle klassi õpilaste järjendisse. Samuti võiks klassis olla meetod <span class="fst-italic">kuva()</span>, mis
        väljastab kõik klassi õpilased ekraanile. Kooli õpilaste andmed on kirjutatud faili, kus iga rida tähistab ühte õpilast.</span>
  </div>
  <div class="mt-2"><span>Faili <span class="fst-italic">õpilased.txt</span> sisu:</span></div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="classExerciseFile"></span></div>
  <div class="mt-2"><span>Nagu näha, siis iga õpilase juures on kirjas, mis klassis ta käib. Siin tasub mõelda, kuidas oleks hea klasside üle arvet pidada?
    Tahame klassi numbri järgi esiteks teada, kas oleme sellele klassile isendi juba loonud ja teiseks tahame numbri järgi loodud isendi kätte saada.
    Kui juba Klassi isend on käes, siis saab <span class="fst-italic">lisa_õpilane()</span> meetodi kaudu klassi uue õpilase lisada. </span></div>
  <div class="mt-2">Põhiprogrammis tuleks kõikide klasside õpilased väljastada Klassi meetodi <span class="fst-italic">kuva()</span> kaudu. Väljund võiks olla selline:</div>
  <div class="mt-2 code-block fst-italic"><span [innerText]="classExerciseOutput"></span></div>
  <app-exercise-hints [hints]="classExerciseHints"></app-exercise-hints>
</div>
<div class="mt-3 box-container">
  <strong class="strong">Puldiauto</strong>
  <div class="mt-2">
    <span>Selles ülesandes koostame klassi nimega Puldiauto. Sellel klassil on isendiväljad maksimaalse sõiduulatuse (meetrites),
    allesjäänud sõiduulatuse (mitu meetrit õnnestub veel sõita enne kui aku tühjas saab) ja laadimiskiiruse (mitu meetrit saab sõita, kui puldiautot laadida üks minut) jaoks.
      Lisaks on tal meetodid <span class="fst-italic">sõida()</span> ja
    <span class="fst-italic">lae()</span>. Allesjäänud sõiduulatus on alguses võrdne maksimaalse sõiduulatusega ja selle jaoks ei pea konstruktorile eraldi argumenti andma.</span>
  </div>
  <div class="mt-2"><span>Meetod <span class="fst-italic">sõida()</span> võtab argumendiks meetrite arvu, mis tuleks sõita, ja vähendab allesjäänud sõiduulatust selle võrra.
  Kui argumendiks antud arv on suurem kui allesjäänud sõiduulatus, siis vähendadakse allesjäänud sõiduulatust ainult nullini. Meetod peaks kasutajat teavitama sellest, mitu
  meetrit sõideti ja ka sellest, kui aku sai enne soovitud vahemaad tühjaks.</span></div>
  <div class="mt-2"><span>Meetod <span class="fst-italic">lae()</span> võtab argumendiks laadimisminutite arvu. Arvutab, mitu meetrit selle ajaga sõiduulatust juurde tuli ja
  suurendab allesjäänud sõiduulatust selle võrra. Kuid kuna akul on kindel mahutavus, siis tuleb jälgida, et üle maksimaalse sõiduulatuse siiski laadida ei saa. Meetod
  peaks ka väljastama, mitu meetrit laadimisaja lõpus sõita saab.</span></div>
  <div class="mt-2"><span>Põhiprogrammis küsitakse kasutajalt puldiauto andmed, mille põhjal luuakse Puldiauto isend. Seejärel hakkab programm kasutajalt tsüklis küsima,
  kas ta soovib sõita või autot laadida. Kui kasutaja soovib sõita, siis tuleb tal sisestada meetrite arv ja rakendatakse puldiauto meetodit <span class="fst-italic">sõida()</span>.
  Kui kasutaja soovib autot laadida, siis küsitakse laadimisminutite arv ja rakendatakse meetodit <span class="fst-italic">lae()</span>. Sõitmiseks peaks kasutaja
  sisestama "s", aku laadimiseks "a" ja lõpetamiseks "l".</span></div>
  <div class="mt-2 code-block fst-italic">
    <span>Sisesta puldiauto maksimaalne sõiduulatus: <span class="code-input">1000</span><br></span>
    <span>Sisesta puldiauto laadimiskiirus: <span class="code-input">10</span><br></span>
    <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">s</span><br></span>
    <span>Sisesta, mitu meetrit soovid sõita: <span class="code-input">560</span><br></span>
    <span>Sõitsin 560 meetrit.<br></span>
    <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">s</span><br></span>
    <span>Sisesta, mitu meetrit soovid sõita: <span class="code-input">600</span><br></span>
    <span>Aku sai enne tühjaks, sõitsin 440 meetrit.<br></span>
    <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">a</span><br></span>
    <span>Sisesta, mitu minutit akut laed: <span class="code-input">10</span><br></span>
    <span>Nüüd saad sõita kuni 100 meetrit.<br></span>
    <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">a</span><br></span>
    <span>Sisesta, mitu minutit akut laed: <span class="code-input">30</span><br></span>
    <span>Nüüd saad sõita kuni 400 meetrit.<br></span>
    <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">s</span><br></span>
    <span>Sisesta, mitu meetrit soovid sõita: <span class="code-input">300</span><br></span>
    <span>Sõitsin 300 meetrit.<br></span>
   <span>Kas soovid sõita (s), akut laadida (a) või lõpetada (l)? <span class="code-input">l</span><br></span>
  </div>
  <app-exercise-hints [hints]="rccExerciseHints"></app-exercise-hints>
</div>
<button [routerLink]="'/parilus'" class="btn btn-primary my-5 float-end">
  <fa-icon [icon]="'arrow-right'"></fa-icon>
  <span class="ps-2">Järgmine peatükk</span></button>
