/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$navbar-sidebar-width: 20rem;
$navbar-sidebar-breakpoint: 'md';

$color-pink: #de2899;
$color-pink-dark: #9e20d4;
$color-dark: #000000;
$color-purple: #5a4d94;
$color-purple-dark: #40366e;
$color-purple-light: #6858ad;
$color-lavender-extra-light: #efe6ff;
$color-lavender-light: #d9c1f1;
$color-lavender: #886ba8;
$color-lavender-dark: #614681;
$color-green: #83d143;
$color-green-light: #e0ffc7;
$color-green-dark: #386315;
$color-blue: #68b8f2;
$color-blue-light: #cce9ff;
$color-blue-dark: #1077c2;
$color-red: #ff5975;
$color-red-light: #ffd1d9;
$color-red-dark: #660e1d;
$color-background: #f7f7f7;
$color-white: #ffffff;
$color-grey: #dcdce0;
$color-grey-light: #f2f2f7;
$color-grey-dark: #6f6f72;
$color-orange: #fa6a26;

@font-face {
  font-family: Nunito;
  src: url('/assets/font/Nunito-VariableFont_wght.ttf') format("truetype-variations");
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url('/assets/font/Nunito-Italic-VariableFont_wght.ttf') format("truetype-variations");
  font-style: italic;
}

body {
  padding-top: 90px;
  background-color: $color-background;
  color: $color-dark;
  font-family: Nunito, sans-serif;

  @include media-breakpoint-up($navbar-sidebar-breakpoint) {
    margin-left: $navbar-sidebar-width;
    padding-top: 0;
  }
}

h1 {
  font-weight: bold;
  color: $color-purple-dark;
}

h4 {
  font-weight: bold;
  color: $color-purple-dark;
}

a {
  color: $color-pink;
  text-decoration: none;
}

a:hover {
  color: $color-pink;
  text-decoration: underline;
}

@mixin navbar-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-fixed;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: $color-purple-light $color-purple;

  @include media-breakpoint-up($navbar-sidebar-breakpoint) {
    bottom: 0;
    width: $navbar-sidebar-width;
    flex-flow: column nowrap;
    align-items: flex-start;

    .navbar-collapse {
      flex-grow: 0;
      flex-direction: column;
      width: 100%;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          width: 100%;

          .dropdown-menu {
            top: 0;
          }
        }
      }
    }
  }
}

.navbar {
  background-color: $color-purple !important;

  &.fixed-left {
    @include navbar-sidebar;
    @include media-breakpoint-up($navbar-sidebar-breakpoint) {
      right: auto;

      .navbar-nav {
        .nav-item {
          .dropdown-toggle {
            &:after {
              border-top: $caret-width solid transparent;
              border-left: $caret-width solid;
              border-bottom: $caret-width solid transparent;
              border-right: none;
              vertical-align: baseline;
            }
          }

          .dropdown-menu {
            left: 100%;
          }
        }
      }
    }
  }
}

.navbar-toggler {
  margin-right: 1rem;
}

.nav-item {
  padding: 0.25rem 0.5rem;
  font-size: 20px;
}

.nav-subitem {
  padding-left: 2rem;
  font-size: 16px;
}

.nav-link {
  color: $color-grey !important;
}

.nav-link:hover{
  text-decoration: none !important;
}

.nav-link:hover {
  color: $color-white !important;
}

.navbar-brand:focus, .nav-link:focus {
  outline: 0;
}

.nav-link a:focus, .nav-link a:active, .nav-item a:focus, .nav-item a:active {
  border: none;
  box-shadow: none;
}

.nav-item:hover {
  background-color: $color-purple-dark;
}

.box-container {
  background-color: $color-white;
  border: solid 2px $color-grey;
  border-radius: 0.5rem;
  padding: 1rem;
}

.logo {
  width: $navbar-sidebar-width - 3rem;
}

.navbar-illustration {
  width: $navbar-sidebar-width;
}

.active {
  color: $color-pink !important;
}

.intro-container {
  background-color: $color-blue-light;
  border: solid 2px $color-blue;
  border-radius: 0.5rem;
  padding: 1rem;
}

.intro-container h5 {
  color: $color-blue-dark;
  font-weight: bold;
}

.strong {
  color: $color-purple-dark
}

.code-block {
  background-color: $color-grey-light;
  border: solid 2px $color-grey;
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: pre-wrap;
}

.self-test {
  color: $color-blue-dark;
  font-weight: bold;
}

.blue-link, blue-link:hover {
  color: $color-blue-dark !important;
}

.feedback-correct {
  background-color: $color-green-light;
  border: solid 2px $color-green;
  border-radius: 0.5rem;
  padding: 1rem;
  color: $color-green-dark;
}

.feedback-incorrect {
  background-color: $color-red-light;
  border: solid 2px $color-red;
  border-radius: 0.5rem;
  padding: 1rem;
  color: $color-red-dark;
}

.btn-self-test {
  background-color: $color-blue;
  color: $color-white;
}

.btn-self-test:hover {
  background-color: $color-blue-dark;
  color: $color-white;
}

.btn-primary {
  background-color: $color-purple;
  border-color: $color-purple;
  color: $color-white;
}

.btn-primary:hover {
  background-color: $color-purple-dark;
  border-color: $color-purple-dark;
  color: $color-white;
}

.btn-primary:focus {
  background-color: $color-purple;
  border-color: $color-purple;
  color: $color-white;
  box-shadow: 0 0 0 .2rem rgba(52, 44, 97, 0.35)
}

.btn-hint {
  background-color: $color-lavender;
  border-color: $color-lavender;
  color: $color-white;
}

.btn-hint:hover {
  background-color: $color-lavender-dark;
  border-color: $color-lavender-dark;
  color: $color-white;
}

.btn-hint:focus {
  background-color: $color-lavender;
  border-color: $color-lavender;
  color: $color-white;
  box-shadow: 0 0 0 .2rem rgba(77, 69, 100, 0.35)
}

.form-check-input:checked {
  background-color: $color-blue-dark;
}

.form-check .form-check-input:focus  {
  box-shadow:  0 0 0 .2rem rgba(65, 139, 246, 0.35)
}

.height-20rem {
  height: 20rem;
}

.height-15rem {
  height: 15rem;
}

.height-10rem {
  height: 10rem;
}

.height-5rem {
  height: 5rem;
}

.drag-and-drop-list {
  width: 500px;
  max-width: 100%;
  border: solid 2px $color-grey;
  min-height: 60px;
  display: block;
  background: $color-white;
  border-radius: 4px;
  overflow: hidden;
}

.drag-and-drop-box {
  padding: 15px 10px;
  border-bottom: solid 2px $color-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: $color-white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-and-drop-box:last-child {
  border: none;
}

.drag-and-drop-list.cdk-drop-list-dragging .drag-and-drop-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-and-drop-placeholder {
  background: $color-grey-light;
  border: dotted 3px $color-grey;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-and-drop-container {
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.table-custom tbody {
  border-color: inherit !important;
}

.btn-outlined-none {
  background-color: $color-white;
  border-color: $color-blue-dark;
  color: $color-blue-dark;
}

.btn-outlined-correct {
  background-color: $color-green-light;
  border-color: $color-green-dark;
  color: $color-green-dark;
}

.btn-outlined-incorrect {
  background-color: $color-red-light;
  border-color: $color-red-dark;
  color: $color-red-dark;
}

.code-string {
  color: $color-green-dark;
}

.code-function {
  color: $color-pink-dark;
}

.code-comment {
  color: $color-grey-dark;
}

.code-number {
  color: $color-orange;
}

.code-input {
  color: $color-blue-dark;
}

.hint-container {
  background-color: $color-lavender-extra-light;
  border: solid 2px $color-lavender-light;
  border-radius: 0.5rem;
  padding: 1rem;
}
